* {
    background-color: #1A1C22;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 40px;
    width: 100%;
}

#Logo {
    height: 195px;
    width: 281px;
}

body {
    width: 100%;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: end;
    margin: 0px;
}

path {
    fill: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    height: 100%;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.champ {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
}

.consdition * {
    background-color: white;
    color: black;
}

.consdition {
    background-color: white;
    color: black;
    height: 300px;
    overflow-y: auto;
}

.champ svg * {
    fill: black;
}

.champ svg {
    position: absolute;
    height: 61.21px;
    width: 61.21px;
    right: 5%;
}

.champ input {
    margin-top: 0px;
    margin-bottom: 0px;
}

input {

    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
    height: 61.21px;
    background-color: white;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
}

.borderyellow {
    grid-column: span 1;
    border: 3px solid #FCED8A;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 61.21px;
    color: #FCED8A;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.select {
    margin: 10px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.backgroundyellow {
    grid-column: span 1;
    background-color: #FCED8A;
    color: black;
    height: 61.21px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.borderwhite {
    border: 3px white solid;
    background-color: transparent;
    color: white;
    grid-column: 1 / -1;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 61.21px;
    display: flex;
    align-items: center;
}

article,
button {
    grid-column: 1 / -1;
    height: 61px;
}

button.select {
    height: 20px;
    width: 20px;
}

.valider {
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

svg {
    height: 61px;
    fill: white;
    background: none;
}

nav a.svgYellow * {
    fill: #FCED8A;
}

form section {
    grid-column: 1 / -1;
}

section {
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

svg,
section input[type="radio"] {
    grid-column: span 1;
}

input[type="radio"] {
    height: 20px;
}

nav {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.suivent {
    border: 3px solid white;
}